section#registroCliente{
    display: flex;
    flex-direction: column;
    align-self: center;
}

section#registroCliente h1{
    margin: 15px 0px 15px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

section#registroCliente form#infoCliente{
    padding: 10px;
    background-color: #eef7e2;
    border-radius: 10px;
}

form#infoCliente div input#rfcInput{
    text-transform: uppercase;
}

form#infoCliente div input#curpInput{
    text-transform: uppercase;
}

form#infoCliente div#botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

form#infoCliente div#botones button{
    margin-left: 20px;
}